*

# Manually include root-level directories
!app/
!app/**/
!workings/
!workings/**/
!include/
!include/**/
!project/
!project/**/
!source/
!source/**/
!test/
!test/**/
!prds/
!prds/**/
!tools/
!tools/**/
!.github/
!.github/**/

!*.*
*~/
.*
!.git*
*.~*
*.o
*.bkp
*.[bB][aA][kK]
*.[dD][sS][wW]
*.[cC][sS][mM]
*.[eE][xX][eE]
*.[lL][iI][bB]
*.[oO][bB][jJ]
*.[dD][sS][tT]
*.[dD][sS][kK]
*.[pP][rR][jJ]
*.[mM][aA][pP]
*.[cC][fF][gG]
*.[iI][nN][cC]
*.[cC]32
*.[tT][dD]
*.[tT][rR]
*.[tT][rR]2
*.[fhFH]16
*.[fhFH]32
*.kate-swp
*.a
*.ilk
*.pdb
*.ninja
*.lwi
*.log
perf.data*
callgrind.out*

# Temporary API config files - DO NOT COMMIT
app/api_config_temp.h
**/api_config_temp.*

*.kdev4
*.vcxproj*
*.sln

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
compile_commands.json
*.pyc
